/* ACÁ COMIENZA MAIN SECCIÓN MEDIAS */
  
  /* VERSION DESKTOP */
  @media screen and (min-width: 768px) {
    .pages {
      background-repeat: no-repeat;
    }
  
    .fondo-index-main{
        background-repeat: no-repeat;
    }
    .fondo-index-main-version-tablet{
        display: none;
    }
    .fondo-index-main-version-mobile{
        display: none;
    }
  }



  
  /* VERSION TABLET */
  @media (min-width: 481px) and (max-width: 768px) {
    /* ACÁ COMIENZA PÁGINA EN CONSTRUCCIÓN */
  
    .pagina-en-proceso {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .seccion-A {
      margin: 30px;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    .seccion-B img {
      margin-top: 0;
      width: 50%;
    }
  
    .button-en-proceso {
      margin: 10px 0 0 0;
    }
  
    /* PROYECTOS */
  
    .main-proyectos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      margin: 60px 40px 40px 40px;
      justify-content: center;
      align-items: center;
    }
  
    /* NAVBAR */
  
    .btn_menu {
      display: inline-flex;
    }
  
    .menu_items {
      position: fixed;
      width: 100vw;
      top: -100vw;
      text-align: center;
      transition: all .4s;
      flex-direction: column;
  
      li {
        margin: 30px 0 0 0;
        line-height: 30px;
      }
    }
  
    /* MAIN */
  
    .fondo-index-main, .fondo-index-main-version-mobile {
      display: none;
    }
  
    /* MAIN PAGES */
  
    .pages {
      background-image: url(./img/fondo-body-pages-750px.png);
      background-repeat: no-repeat;
    }
  
    .group-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 50%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    .fondo-index-main{
        display: none;
    }
    .fondo-index-main-version-tablet{
        background-repeat: no-repeat;
    }
    .fondo-index-main-version-mobile{
        display: none;
    }
  
    /* MAIN CONTACTO */
  
    .formulario {
      width: 50%;
      margin: 0 auto;
      margin-top: 60px;
      padding: 20px;
    }
  
    .form-top {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px;
      color: #FFFFFF;
      font-size: 15px;
    }
  
    /* GALERIA DE TRABAJOS */
  
    .contenedor-galeria {
      width: 80%;
      height: auto;
      margin: 0 auto;
      margin-top: 4rem;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  /* VERSION MOBILE */
  @media (min-width: 400px) and (max-width: 480px) {
    /* ACÁ COMIENZA PÁGINA EN CONSTRUCCIÓN */
  
    .pagina-en-proceso {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .seccion-A {
      margin: 30px;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    .seccion-B img {
      margin-top: 0;
      width: 50%;
    }
  
    .button-en-proceso {
      margin: 10px 0 0 0;
    }
  
    /* PROYECTOS */
  
    .main-proyectos {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      margin: 60px 40px 40px 40px;
      justify-content: center;
      align-items: center;
    }

    .fondo-index-main{
        display: none;
    }
    .fondo-index-main-version-tablet{
        display: none;
    }
    .fondo-index-main-version-mobile{
        background-repeat: no-repeat
    }
  
    /* NAVBAR */
  
    .btn_menu {
      display: inline-flex;
    }
  
    .menu_items {
      position: fixed;
      width: 100vw;
      top: -100vw;
      text-align: center;
      transition: all .4s;
      flex-direction: column;
  
      li {
        margin: 30px 0 0 0;
        line-height: 30px;
      }
    }
  
    /* MAIN */
  
    .fondo-index-main, .fondo-index-main-version-tablet {
      display: none;
    }
  
    /* MAIN PAGES */
  
    .pages {
      background-image: url(./img/fondo-body-pages-480px.png);
      background-repeat: no-repeat;
    }
  
    .group-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 50%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }
  
    /* GALERIA DE TRABAJOS */
  
    .contenedor-galeria {
      width: 80%;
      height: auto;
      margin: 0 auto;
      margin-top: 4rem;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  /* ACÁ FINALIZAD MAIN SECCIÓN MEDIAS */